MY_SQL_USER=
MY_SQL_PASSWORD=
MY_SQL_HOST=
MY_SQL_PORT=
MY_SQL_DB=


GROQ_API_KEY=
COHERE_API_KEY=
EMBEDDING_MODEL=
LLM_MODEL=
JUDGE_LLM_MODEL=

VECTOR_DB_PATH=src/vector_store


HASH_SECRET_KEY=
HASH_ALGORITHM=HS256
TOKEN_EXPIRY_TIME=10